# Node modules
node_modules

# Logs
logs/
*.log

# Environment variables
.env

# Build output
dist/

# Temporary files
*.tmp
*.temp

# Coverage directory used by tools like istanbul
coverage/

# IDE specific files
.vscode/
.idea/
